// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// Variables
$primary: hsl(28, 100%, 50%);
$secondary: hsl(28, 100%, 45%);
$light: hsl(30, 23%, 95%);
$dark: hsl(28, 10%, 14%);
$gray: hsl(28, 10%, 97%);
$progress-height: 2rem;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;

.fullheight {
    min-height: calc(100vh - 56px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


// CUSTOM CSS

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var($primary), var(--bs-text-opacity)) !important;
}

.car-card img {
    object-fit: cover;
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    margin-top: 10px;
}

.delete-button:hover {
    background-color: darkred;
}

.car-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
}

.car-card img {
    object-fit: cover;
    max-width: 120px;
    height: 120px;
    border-radius: 5px;
}

.car-details {
    margin-top: 10px;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: darkred;
}

.close {
    margin: 2rem;
}

.toast-text-color {
    color: white;
}

.status-text {
    color: white;
    padding: 10px !important;
    border-radius: 5px;
    display: inline;
}

.status-te-koop {
    background-color: green;
}

.status-verkocht {
    background-color: red;
}

.btn-primary {
    color: white !important;
}


.progress-container {
    width: 100%;
    background-color: #b9b9b9;
    border-radius: 5px;
    border: 2px black;
    margin-bottom: 20px;
}



.progress-bar {
    width: 50%;
    height: 30px;
    background-color: #4caf50;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.centered {
    background-image: url('images/kentekenplaat.png');
    background-position: 5px center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kentekencheck-input #kenteken {
    text-align: center;
    font-size: 28px;
    width: 225px;
}

.kenteken-input-field {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAvCAMAAADdAborAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABCUExURSVX19fd9S1UsihUwSVUy////zNVpau57CRV1Edcg4N9SK+ZLGVrYHBwUvT2/VRicEVr232U49KwGZqMPNm1FcjQ8koJI5cAAACiSURBVCjPzZBJFsQgCEQrSFScMt//qq15rR1d9yIsfNSnQBT4X9hOWEhU4KaD4+CtHLqS6MAM8V+LlJZ7ipWS0Bmqk/ZYCrq1Wk351M8LS83Hh94FWOQHOBSL+oE7Jd8s5Jcy2jVQUysL57V0pFpxB8SRnG2aUsiPU8yPjTrx1phNPozBZCpI2wBMWnuA6RrAmrYeYEsDwDUPYE0ZzDle/D0fwJgE4zMjXtEAAAAASUVORK5CYII=) left no-repeat #ffce00;
    height: 50px;
    padding-left: 100px;
    width: 300px;
    border-radius: 5px;
    border: 0.5px solid black;
}

button {
    background-color: #ffce00;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 24px;
}

td img {
    width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
